<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <hr><h1 style="text-align: center">Home page</h1><hr>
    <h1 style="text-align: center", sec:authorize="hasRole('ROLE_ADMIN')">-ADMIN- </h1>
    <h1 style="text-align: center", sec:authorize="hasRole('ROLE_USER')">-USER- </h1>
    <h2>Menu:</h2>
    <p sec:authorize="hasRole('ROLE_ADMIN')">

            <a th:href="|http://localhost:8080/user/show|">ALL USERS</a><br>
            <a style="font-size: 15px;text-decoration: none"  th:href="|http://localhost:8080/user/add/form|">-ADD USER</a><br>
            <a th:href="|http://localhost:8080/priority/show|">ALL PRIORITIES</a><br>
            <a style="font-size: 15px;text-decoration: none"  th:href="|http://localhost:8080/priority/add/form|">-ADD PRIORITY</a><br>
            <a style="font-size: 15px;text-decoration: none"  th:href="|http://localhost:8080/project/add/form|">-ADD PROJECT</a><br>


    </p>
    <hr><h1 style="text-align: center">Last projects</h1><hr>
    <ul th:each="project, iterStat: ${projects}">
        <h2>Project name: <td th:text="${project.name}"></td></h2>
        <h2>Project id: <td th:text="${project.id}"></td></h2>
        <li>Description: <td th:text="${project.description}"></td></li>
        <li>Website Address: <td th:text="${project.websiteAddress}"></td></li>
        <li>Enabled: <td th:text="${project.active}"></td></li>>
        <li><a th:href="@{/project/delete/{id}(id=${project.id})}">Delete project</a></li>
        <li><a th:href="@{/project/{id}/addTaskForm(id=${project.id})}">Add task to a project</a></li>
    </ul>

    <hr><h1 style="text-align: center">Last Activities</h1><hr>


    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>
</body>
</html>